@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Press+Start+2P&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #f3904f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f3904f, #3b4371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f3904f, #3b4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cabecalho-menu{
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;

}

.cabecalho-menu-item{
 font-family: 'Sarala', sans-serif;
 color: #FFF2E7;
 font-weight: 400;
 font-size: 18px;
}

.inicio{
  border-top: 0.4px solid #FFF2E7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
  flex-wrap: wrap-reverse;
  

}

.inicio-texto{
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size:30px
}

.inicio-texto-nome{
  color: #3b4371;
  padding-left: 74px;
  font-size: 50px;
  font-weight: 700;
  box-shadow: 10px black;


}

.inicio-texto-botao{
  background-color: #FFF2E7;
  width: 180px;
  height: 60px;
  border:none;
  border-radius: 20px;
  color: black;
  font-family: 'Sarala', sans-serif;
  font-size:25px;
  box-shadow: 4px 5px 4px rgba( 0,0,0,0.25);

}

.sobre{
  border-top: 0.4px solid #FFF2E7;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
  padding-bottom: 40px;
  justify-content: center;

}

.sobre-texto{
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-size: 50px;
  font-weight: 700;
  padding-bottom:30px;



}

.sobre-paragrafo{
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size:30px;
  padding-bottom:30px;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;

}

.skills{
  border-top: 0.4px solid #FFF2E7;
  padding-top: 40px;
  padding-bottom: 40px;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.skills-titulo{
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-size: 50px;
  font-weight: 700;
  padding-bottom:80px;

}

.skills-icon{
  display: flex;
  gap:70px;
  padding-bottom:80px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-icon-item{
  background-color: #FFF2E7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 5px 4px rgba( 0,0,0,0.25);
  height:150px;
  width:150px;


}

.projetos{
  border-top: 0.4px solid #FFF2E7;
  padding-top: 40px;
  padding-bottom: 40px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.projetos-titulo{
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-size: 50px;
  font-weight: 700;
  padding-bottom:80px;

}

.projetos-icon{
  display: flex;
  gap:70px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.projetos-icon-item{
  background-color: #FFF2E7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 5px 4px rgba( 0,0,0,0.25);
  height:150px;
  width:150px;


}

.projetos-nomes{
  display:flex;
  padding: 20px;
  gap:107px;
}

.projetos-nomes-item{

  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-size: 25px;
  font-weight: 700;

}

.contatos{
  background-color: black;
  display: flex;
  padding: 10px;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contatos-feito{
  color:rgb(136, 131, 131);
  font-family: 'Sarala', sans-serif;
  font-size: 20px;

}

.contatos-botao{
  display: flex;
  gap: 15px;
}

.contatos-botao-item{
  border-radius: 10px;
  
}

@media screen and (max-width: 670px){

.inicio-imagem{
  width: 350px;
  height: 350px;
}

.sobre-paragrafo{
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size:20px;
  padding-bottom:30px;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;

}
.cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cabecalho-menu{
  padding-right: 0px;
}


.inicio-texto{
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size:15px
}

.inicio-texto-nome{
  color: #FFF2E7;
  padding-left: 74px;
  font-size: 40px;
  font-weight: 700;
  box-shadow: 10px black;


}

.inicio-texto-botao{
  background-color: #FFF2E7;
  width: 180px;
  height: 60px;
  border:none;
  border-radius: 20px;
  color: black;
  font-family: 'Sarala', sans-serif;
  font-size:25px;
  box-shadow: 4px 5px 4px rgba( 0,0,0,0.25);

}

.skills-icon{
  display: flex;
  gap:50px;
  padding-bottom:80px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-icon-item{
  background-color: #FFF2E7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 5px 4px rgba( 0,0,0,0.25);
  height:120px;
  width:120px;


}

.projetos-icon{
  display: flex;
  gap:50px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.projetos-icon-item{
  background-color: #FFF2E7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 5px 4px rgba( 0,0,0,0.26);
  height:120px;
  width:120px;


}

.projetos-nomes-item{
  
  
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-size: 20px;
  font-weight: 700;

}

}