
.skills{
  border-top: 0.4px solid #FFF2E7;
  padding-top: 40px;
  padding-bottom: 40px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

}

.skills-titulo{
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-size: 50px;
  font-weight: 700;
  padding-bottom:80px;

}

.skills-icon{
  display: flex;
  gap:50px;
  padding-bottom:80px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-icon-div{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.skills-icon-item{
  background-color: #FFF2E7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 5px 4px rgba( 0,0,0,0.25);
  height:150px;
  width:150px;


}